.item-like-wrapper{
    width: 100vw;
    height: 105vw;
    padding-left: 13px;
}

.item-like-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 15%;
    padding-right: 13px;
    line-height: 3.5;
}

.item-like-header h1{
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}

.item-like-header p{
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

.item-like-wrapper .swiper-container{
    width: 100%;
    height: 85%;
}

.item-like-wrapper .swiper-slide{
    width: 10%;
    height: 85%;
}

.item-like-wrapper .slide-img01{
    width: 100%;
    height: 60%;
    background: url(../assets/img/101c0409b1cfec5585ce134ab3684a1f@2x.png) no-repeat center;
    background-size: 100% 100%;
    border-radius: 6px;
}

.item-like-wrapper .slide-img02{
    width: 100%;
    height: 60%;
    background: url(../assets/img/6c9a29795384f8caac0f4735ff65e779@2x.png) no-repeat center;
    background-size: 100% 100%;
}

.item-like-wrapper h2{
    padding-top: 8px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
}

.item-like-wrapper span{
    color: #226bef;
}

